@page "/"
@namespace Tradgardsgolf.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trädgårdsgolf</title>
    <base href="~/" />
    <link href="css/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        dialog {
            border: none;
            background: none;
        }
        dialog > modal {
            display: block; 
            position: relative
        }

        .card .card-image .card-title {
            text-shadow: 2px 2px 5px black;
            font-weight: 700;
        }
    </style>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="js/materialize.js"></script>
    <script src="~/js/blazor-modal.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
</body>
</html>
