@inherits CoursesBase
@page "/"

<h3>Banor</h3>

<p>This component demonstrates fetching data from a service.</p>

@if (Courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Hål</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Holes</td>
                    <td><button class="btn btn-primary" @onclick="() => SetupRound(course)">Spela</button></td>
                </tr>
            }
        </tbody>
    </table>
}
