@inherits ScorecardBase
@page "/Scorecard"

<h3>Spela</h3>

<table>
    <thead>
        <tr>
            <td>Hål</td>
            @foreach (var player in Players)
            {
                <td>@player.Name</td>
            }
        </tr>
    </thead>

    <tbody>
        @for (int i = 1; i <= Course.Holes; i++)
        {
            var hole = i;

            <tr>
                <td>@hole</td>
                @foreach (var player in Players)
                {
                    <td><input @bind="player.Scores[hole].Score" /></td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Totalt</td>
            @foreach (var player in Players)
            {
                <td>@player.Total()</td>
            }
        </tr>
    </tfoot>
</table>


<button class="btn btn-primary" @onclick="() => ChangePlayers()" >Byt spelare</button>
<button class="btn btn-primary" disabled="@ScoresMissing">Spara runda</button>






