@using System.IO
@using Blazorise.Icons.Material
@using Tradgardsgolf.BlazorWasm.ApiServices
@using Tradgardsgolf.Contracts.Course
@using Icon = Blazorise.Icon
@inject IApiDispatcher ApiDispatcher;

<Field>
    <FieldLabel>Longitude</FieldLabel>
    <NumericEdit @bind-Value="@Longitude"/>
</Field>

<Field>
    <FieldLabel>Latitude</FieldLabel>
    <NumericEdit @bind-Value="@Latitude" />
</Field>

<Button Color="Color.Primary" Clicked="async () => await SaveLocation()">Spara plats <Blazorise.Icon Name="MaterialIcons.Save"/></Button>


@code {

    [Parameter] public CourseResponse Course { get; set; }

    [CascadingParameter] public Location Location { get; set; }
    
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private double Longitude { get; set; }
    private double Latitude { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if(!firstRender)
            return;

        Longitude = decimal.ToDouble(Location.Longitude);
        Latitude = decimal.ToDouble(Location.Latitude);
    }

    private async Task SaveLocation()
    {
        var course = await ApiDispatcher.Dispatch(new UpdateCourseLocationCommand()
        {
            Id = Course.Id,
            Longitude = Longitude,
            Latitude = Latitude
        });

        await BlazoredModal.CloseAsync(ModalResult.Ok(course));
    }

}