@using Blazorise.Icons.Material
<Container>
    <Row >
        @for (var i = 1; i <= ModalMaxScore; i++)
        {
            var score = i;
            <Column ColumnSize="ColumnSize.Is3" Margin="Margin.Is2">
                <Button Clicked="async () => await ReturnResult(score)">@score.ToString()</Button>
            </Column>
        }
    </Row>
</Container>

<Button Clicked="AddModalMaxScore">Det gick inge vidare... <Blazorise.Icon Name="MaterialIcons.SentimentDissatisfied"/></Button>

@code {

    [CascadingParameter] BlazoredModalInstance? ModalInstance { get; set; }

    private int ModalMaxScore { get; set; } = 12;

    private void AddModalMaxScore()
    {
        ModalMaxScore += 3;
        StateHasChanged();
    }

    private async Task ReturnResult(int score)
    {
        if (ModalInstance != null) await ModalInstance.CloseAsync(ModalResult.Ok(score));
    }

}