@using Blazorise.Icons.Material
<Field>
    <FieldLabel>Namn</FieldLabel>
    <TextEdit @bind-Text="PlayerName" Placeholder="Skriv namn" />
</Field>
<Button Color="Color.Primary" Clicked="async () => await Add()">Lägg till <Blazorise.Icon Name="MaterialIcons.Add"/></Button>

@code {

    [CascadingParameter] BlazoredModalInstance? ModalInstance { get; set; }

    private string PlayerName { get; set; } = string.Empty;


    private async Task Add()
    {
        if (ModalInstance != null) await ModalInstance.CloseAsync(ModalResult.Ok(PlayerName));
    }

}