@using Blazorise.Icons.Material
@using Icon = Blazorise.Icon
<p>Vill ni spela igen?</p>

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is3">
            <Button Color="Color.Danger" Clicked="async () => await No()">Nej <Icon Name="MaterialIcons.Cancel"/></Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Color="Color.Warning" Clicked="async () => await ChangePlayers()">Byt spelare <Icon Name="MaterialIcons.Sync"/></Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is3">
            <Button Color="Color.Primary" Clicked="async () => await Yes()">Ja <Icon Name="MaterialIcons.PlayArrow"/></Button>
        </Column>
    </Row>
</Container>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    public enum Results
    {
        No,
        ChangePlayers,
        Yes
    }

    private async Task No()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok(Results.No));
    }

    private async Task ChangePlayers()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok(Results.ChangePlayers));
    }

    private async Task Yes()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok(Results.Yes));
    }

}