
@inherits SetupRoundBase
@page "/SetupRound"
@using Tradgardsgolf.Blazor.Wasm.Components.Course
@using Tradgardsgolf.Blazor.Wasm.Components.Forms
@using Tradgardsgolf.Blazor.Wasm.Components.Layout
@using Tradgardsgolf.Blazor.Wasm.Components.Player

<CourseCard Course="SelectedCourse">
    <CourseHead></CourseHead>
    <CourseContent Title="Börja med att lägga till spelare" Visible="!SelectedPlayers.Any()"></CourseContent>
    <CourseContent Title="Valda spelare" Visible="SelectedPlayers.Any()">
        <List>
            @foreach (var player in SelectedPlayers)
            {
                <PlayerListItem Player="player.Player">
                    <IconButton OnClick="async () => await RemovePlayer(player.Player.Name)" Icon="delete"></IconButton>
                </PlayerListItem>
            }
        </List>
    </CourseContent>
    <CourseButtons Visible="SelectedPlayers.Any()">
        <ImageButton OnClick="async () => await  Play()" Text="Börja spela" Icon="play_arrow"></ImageButton>
    </CourseButtons>
</CourseCard>

@if (AvailablePlayers.Any())
{
    <div class="card">
        <div class="card-content">
            <span class="card-title">Har tidigare spelat på @SelectedCourse.Name</span>     

            <List>
                @foreach (var player in AvailablePlayers)
                {
                    <PlayerListItem Player="player">
                        <IconButton OnClick="async () => await AddPlayer(player.Name)" Icon="add"></IconButton>
                    </PlayerListItem>
                }
            </List>
        </div>
    </div>
}

<div class="card green lighten-5">
    <div class="card-content">
        <span class="card-title">Ny spelare</span>
        <div class="input-field">
            <input @bind="PlayerName" id="new_player" type="text" />
            <label for="new_player">Namn</label>
        </div>
    </div>
    <div class="card-action">
        <ImageButton OnClick="async () => await AddPlayer(PlayerName)" Text="Lägg till" Icon="add"></ImageButton>
    </div>
</div>








