@page "/setup-round"
@using Blazorise.Icons.Material
@using Tradgardsgolf.BlazorWasm.ApiServices
@using Tradgardsgolf.Contracts.Players
@using IModalService = Blazored.Modal.Services.IModalService
@inject IApiDispatcher ApiDispatcher
@inject NavigationManager NavigationManager
@inject IModalService Modal

<CascadingCourse Course="State?.AppState?.ScorecardState?.CourseResponse">
    <CascadingCourseStatistics>
        <CourseCard>
            <CourseHead>
                <CourseHeaderStatistics/>
            </CourseHead>
            <CourseContent>
                @if (State?.AppState?.ScorecardState?.PlayerScores.Any() == true)
                {
                    <CardTitle>Valda spelare</CardTitle>

                    @foreach (var player in State.AppState.ScorecardState.PlayerScores)
                    {
                        <PlayerListItem Player="player.PlayerResponse">
                            <Button Clicked="async () => await RemovePlayer(player.PlayerResponse.Name)" Float="Float.End" Color="Color.Danger">
                                <Blazorise.Icon Name="MaterialIcons.Delete"></Blazorise.Icon>
                            </Button>
                        </PlayerListItem>
                    }
                }
                else
                {
                    <CardTitle>Börja med att lägga till spelare</CardTitle>
                }
            </CourseContent>
            <CourseButtons>
                <Button Clicked="async () => await NewPlayer()"
                        Color="Color.Primary"
                        Float="Float.Start">
                    Lägg till <Blazorise.Icon Name="MaterialIcons.Add"></Blazorise.Icon>
                </Button>
                <Button Clicked="async () => await Play()"
                        Float="Float.End"
                        Disabled="@(State?.AppState?.ScorecardState?.PlayerScores.Any() == false)"
                        Color="Color.Primary">
                    Börja spela <Blazorise.Icon Name="MaterialIcons.PlayArrow"></Blazorise.Icon>
                </Button>
            </CourseButtons>
        </CourseCard>

    </CascadingCourseStatistics>
</CascadingCourse>

<AuthorizeView>
    @if (State?.AppState?.ScorecardState?.PlayerScores.All(x => x.PlayerResponse.Name != IdentityName(context)) == true)
    {
        <Card Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
            <CardBody>
                <PlayerListItem Player="new PlayerResponse { Name = IdentityName(context) }">
                    <Button Clicked="async () => await AddPlayer(IdentityName(context))" Float="Float.End" Color="Color.Primary">
                        <Blazorise.Icon Name="MaterialIcons.Add"></Blazorise.Icon>
                    </Button>
                </PlayerListItem>
            </CardBody>
        </Card>
    }
</AuthorizeView>

@if (_availablePlayers == null)
{
    <Loading></Loading>
}
else if (AvailablePlayers.Any())
{
    <Card Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <CardBody>
            <CardTitle>Har tidigare spelat på @State?.AppState?.ScorecardState?.CourseResponse.Name</CardTitle>
            @foreach (var player in AvailablePlayers)
            {
                <PlayerListItem Player="player">
                    <Button Clicked="async () => await AddPlayer(player.Name)" Float="Float.End" Color="Color.Primary">
                        <Blazorise.Icon Name="MaterialIcons.Add"></Blazorise.Icon>
                    </Button>
                </PlayerListItem>
            }
        </CardBody>
    </Card>
}


@code
{
    [CascadingParameter] public CascadingStateProvider? State { get; set; }

    private IEnumerable<PlayerResponse>? _availablePlayers;

    private IEnumerable<PlayerResponse> AvailablePlayers => _availablePlayers?
        .Where(x => State?.AppState?.ScorecardState?.PlayerScores.All(player => player.PlayerResponse.Name != x.Name) == true) ?? [];

    protected override async Task OnInitializedAsync()
    {
        _availablePlayers = await ApiDispatcher.Dispatch(new QueryPlayersPlayedOnCourse
        {
            CourseId = State!.AppState!.ScorecardState!.CourseResponse.Id
        });

        await base.OnInitializedAsync();
    }

    private async Task AddPlayer(string? player)
    {
        if (string.IsNullOrWhiteSpace(player))
            return;

        await State!.AppState!.ScorecardState!.AddPlayer(this, player);
        StateHasChanged();
    }

    private async Task RemovePlayer(string player)
    {
        await State!.AppState!.ScorecardState!.RemovePlayer(this, player);
        StateHasChanged();
    }

    private async Task Play()
    {
        if (State?.AppState?.ScorecardState?.PlayerScores.Any() == false)
            return;
        
        await Task.Delay(1);
        NavigationManager.NavigateTo("scorecard");
    }

    private async Task NewPlayer()
    {
        var newPlayerModal = Modal.Show<NewPlayerModal>("Lägg till ny spelare");

        var result = await newPlayerModal.Result;
        if (result.Cancelled)
            return;
        
        if(result.Data is string player && !string.IsNullOrEmpty(player))
            await AddPlayer(player);
    }

    private static string? IdentityName(AuthenticationState context)
    {
        return context.User.Identity?.Name;
    }
}