@page "/SetupRound"
@using Tradgardsgolf.Contracts.Players
@inject ICourseApiService CourseApiService
@inject IApiDispatcher ApiDispatcher
@inject NavigationManager NavigationManager
@inject IModalService Modal

<CascadingCourse Course="State.AppState.ScorecardState.Course">
    <CascadingCourseStatistics>
        <CourseCard>
            <CourseHead>
                <CourseHeaderStatistics/>
            </CourseHead>
            <CourseContent>
                @if (State.AppState.ScorecardState.PlayerScores.Any())
                {
                    <CardTitle>Valda spelare</CardTitle>

                    @foreach (var player in State.AppState.ScorecardState.PlayerScores)
                    {
                        <PlayerListItem Player="player.Player">
                            <Button Clicked="async () => await RemovePlayer(player.Player.Name)" Float="Float.Right" Color="Color.Danger">
                                <Icon Name="Blazorise.Icons.Material.MaterialIcons.Delete"></Icon>
                            </Button>
                        </PlayerListItem>
                    }
                }
                else
                {
                    <CardTitle>Börja med att lägga till spelare</CardTitle>
                }
            </CourseContent>
            <CourseButtons>
                <Button Clicked="async () => await NewPlayer()"
                    Color="Color.Primary"
                        Float="Float.Left">Lägg till <Icon Name="Blazorise.Icons.Material.MaterialIcons.Add"></Icon></Button> 
                <Button Clicked="async () => await Play()" 
                        Float="Float.Right" 
                        Disabled="!State.AppState.ScorecardState.PlayerScores.Any()"
                        Color="Color.Primary">Börja spela <Icon Name="Blazorise.Icons.Material.MaterialIcons.PlayArrow"></Icon></Button>
            </CourseButtons>
        </CourseCard>

    </CascadingCourseStatistics>
</CascadingCourse>

@if (_availablePlayers == null)
{
    <Loading></Loading>
}
else if (AvailablePlayers.Any())
{
    <Card Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <CardBody>
            <CardTitle>Har tidigare spelat på @State.AppState.ScorecardState.Course.Name</CardTitle>
            @foreach (var player in AvailablePlayers)
            {
                <PlayerListItem Player="player">
                    <Button Clicked="async () => await AddPlayer(player.Name)" Float="Float.Right" Color="Color.Primary">
                        <Icon Name="Blazorise.Icons.Material.MaterialIcons.Add"></Icon>
                    </Button>
                </PlayerListItem>
            }
        </CardBody>
    </Card>
}

@code
{
    [CascadingParameter]
    public CascadingStateProvider State { get; set; }

    private string PlayerName { get; set; }
    private IEnumerable<Player> _availablePlayers;

    private IEnumerable<Player> AvailablePlayers => _availablePlayers?
        .Where(x => State.AppState.ScorecardState.PlayerScores.All(player => player.Player.Name != x.Name)) ?? Enumerable.Empty<Player>();

    protected override async Task OnInitializedAsync()
    {
        _availablePlayers = (await ApiDispatcher.Dispatch(new HasPlayedOnCourse()
        {
            CourseId = State.AppState.ScorecardState.Course.Id
        }) ?? Array.Empty<Player>()).ToList();
        
        await base.OnInitializedAsync();
    }

    private async Task AddPlayer(string player)
    {
        if (string.IsNullOrWhiteSpace(player))
            return;

        await State.AppState.ScorecardState.AddPlayer(this, player);
        PlayerName = string.Empty;
        StateHasChanged();
    }

    private async Task RemovePlayer(string player)
    {
        await State.AppState.ScorecardState.RemovePlayer(this, player);
        StateHasChanged();
    }

    private async Task Play()
    {
        if (!State.AppState.ScorecardState.PlayerScores.Any())
            return;
        await Task.Delay(1);
        NavigationManager.NavigateTo("Scorecard");
    }

    private async Task NewPlayer()
    {
        var playAgain = Modal.Show<NewPlayerModal>("Lägg till ny spelare");
        
        var result = await playAgain.Result;
        if (result.Cancelled)
            return;

        await AddPlayer(result.Data.ToString());

    }
}