@using Tradgardsgolf.Api.Shared

<Figure Size="FigureSize.Is24x24" Class="avatar bg-light border-black">
    <h5>@Player.Name.Substring(0, 1).ToUpper()</h5>
</Figure>


@code{
    [Parameter]
    public PlayerModel Player { get; set; }
}