@using Tradgardsgolf.Contracts.Players

<Tooltip Text="@PlayerResponse.Name" Placement="Placement.Bottom">
    <Figure Size="FigureSize.Is24x24" Class="avatar border-black" Style="@AvatarStyle()">
        <h5>@PlayerResponse.Name.Substring(0, 1).ToUpper()</h5>
    </Figure>
</Tooltip>

@code{
    [Parameter]
    public PlayerResponse PlayerResponse { get; set; }

    public string AvatarStyle()
    {
        var red = PlayerResponse.Name.Skip(1).Select(x => (int) x).Sum() % 255;
        var blue = PlayerResponse.Name.Take(4).Select(x => (int) x).Sum() % 255;
        var green = PlayerResponse.Name.Skip(4).Take(4).Select(x => (int) x).Sum() % 255;
        
        return $"background-color: rgba({red}, {blue}, {green}, 0.6)";
    }
}