@using Tradgardsgolf.Contracts.Players

<Fields Class="player">
     <Column ColumnSize="ColumnSize.Is2"><Avatar Player="PlayerResponse"></Avatar></Column>
     <Column ColumnSize="ColumnSize.Is8"><span>@PlayerResponse.Name</span></Column>
     <Column ColumnSize="ColumnSize.Is2">
        @ChildContent
     </Column>
 </Fields>

@code
{
    [Parameter]
    public PlayerResponse PlayerResponse { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
}
