@using Tradgardsgolf.Api.Shared

<CardHeader>
    <CardImage Source="@CascadingCourse.Course.Image"></CardImage>
    <h1>@CascadingCourse.Course.Name</h1>
    @ChildContent
</CardHeader>

@code {
    [CascadingParameter]
    public CascadingCourse CascadingCourse { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}




