@if (Visible)
{
    <div class="card-action">
        <CascadingValue Value="Course">
            @ChildContent
        </CascadingValue>
    </div>
}

@code
{
    [CascadingParameter]
    public Api.Shared.CourseModel Course { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Visible { get; set; } = true;
}



