<CardHeader>
    <CardImage Source="@CascadingCourse.CourseResponse.Image"></CardImage>
    <h1>@CascadingCourse.CourseResponse.Name</h1>
    @ChildContent
</CardHeader>

@code {
    [CascadingParameter]
    public CascadingCourse CascadingCourse { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}




