@using Tradgardsgolf.Api.Shared
<div class="card-image">
    <img src="@CourseModel.Image" alt=" @CourseModel.Name">
    <span class="card-title ">@CourseModel.Name</span>
    <div class="card-statistics">@ChildContent</div>
</div>

@code {
    [CascadingParameter]
    public CourseModel CourseModel { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}




