<div class="card">
    <CascadingValue Value="Course">
        @ChildContent
    </CascadingValue>
</div>

@code
{
    [Parameter] 
    public RenderFragment ChildContent { get; set; }


    [Parameter]
    public Api.Shared.CourseModel Course { get; set; }
}


