@inherits CourseContentBase


@if(Visible)
{
    <div class="card-content">
        @if(!string.IsNullOrEmpty(Title))
        {
            <h5>@Title</h5>
        }

        <CascadingValue Value="Course">
            @ChildContent
        </CascadingValue>
    </div>
}
    