.card .card-image .card-title {
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
}

.card .card-statistics 
{
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    padding: 0px 10px
}

.card .card-statistics i {
    margin-right: 10px;
    vertical-align: middle;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}



