<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Trädgårdsgolf</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="material-icons left">house</i>Home
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-menu">
    <li>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="material-icons left">house</i>Home
        </NavLink>
    </li>
</ul>