<button class="waves-effect waves-light btn"
        @onclick="InvokeOnClick">
    <i class="material-icons">@Icon</i>
</button>

@code
{
    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public string Icon { get; set; }

    private void InvokeOnClick()
    {
        OnClick?.Invoke();
    }
}