@if (Display())
{
    <i class="material-icons">emoji_events</i>
    <span>@_bestScore?.Player (@_bestScore?.TotalScore)</span>
}

@code {

    [CascadingParameter] public CascadingCourseStatistics? CascadingCourseStatistics { get; set; }

    private BestScoreModel? _bestScore;

    protected override void OnParametersSet()
    {
        if (CascadingCourseStatistics?.CourseStatisticResponse == null)
            return;

        _bestScore = CascadingCourseStatistics.CourseStatisticResponse.PlayerStatistics
            .OrderBy(x => x.BestScore.Score)
            .ThenBy(x => x.BestScore.Date)
            .Select(x => new BestScoreModel(x.Name, x.BestScore.Date, x.BestScore.Score))
            .FirstOrDefault();
    }

    private class BestScoreModel(string player, DateTime date, int totalScore)
    {
        public string Player { get; } = player;
        public DateTime Date { get; } = date;
        public int TotalScore { get; } = totalScore;
    }

    private bool Display()
    {
        return CascadingCourseStatistics != null && _bestScore != null && !CascadingCourseStatistics.Loading;
    }

}