@if (Display())
{
    <i class="material-icons">insights</i><span>@_bestAverageModels.Player (@Math.Round(_bestAverageModels.Average, 1))</span>
}

@code {
    [CascadingParameter]
    public Statistics Statistics { get; set; }

    private BestAverageModel _bestAverageModels;

    protected override void OnParametersSet()
    {
        if(Statistics?.CourseStatisticModel == null)
            return;
        
        _bestAverageModels = Statistics.CourseStatisticModel.Rounds.Select(x => new
        {
            Rounds = x.Scores.GroupBy(score => score.Player)
                .Select(p => new
                {
                    Player = p.Key,
                    ToatalScore = p.Sum(s => s.Score)
                })
        }).SelectMany(x => x.Rounds)
            .GroupBy(x => x.Player)
            .Select(x => new BestAverageModel
            {
                Player = x.Key,
                Average = (double) x.Sum(score => score.ToatalScore) / (double) x.Count()
            })
            .OrderBy(x => x.Average)
            .FirstOrDefault();
    }

    private class BestAverageModel
    {
        public string Player { get; set; }
        public double Average { get; set; }
    }

    private bool Display()
    {
        return Statistics != null && _bestAverageModels != null && !Statistics.Loading;
    }

}