@if (Display())
{
    <Table>
        <TableHeader>
            <TableHeaderCell>Hål</TableHeaderCell>
            <TableHeaderCell>Snitt</TableHeaderCell>
            <TableHeaderCell>Hole in one</TableHeaderCell>
        </TableHeader>
        @foreach (var holeAverage in _holeAverageModels)
        {
            <TableRow>
                <TableRowCell>@holeAverage.Hole</TableRowCell>
                <TableRowCell>@Math.Round(holeAverage.Average, 1)</TableRowCell>
                <TableRowCell>@holeAverage.HoleInOnes</TableRowCell>
            </TableRow>
        }
    </Table>
}

@code {

    [CascadingParameter] public CascadingCourseStatistics CascadingCourseStatistics { get; set; }

    private HoleStatisticModel[] _holeAverageModels;

    protected override void OnParametersSet()
    {
        if (CascadingCourseStatistics?.CourseStatisticResponse == null)
            return;

        _holeAverageModels = CascadingCourseStatistics.CourseStatisticResponse.PlayerStatistics
            .SelectMany(x => x.HoleStatistics.Select((h, index) => new
                {
                    Hole = index + 1,
                    Total = x.TimesPlayed * h.AverageScore,
                    x.TimesPlayed,
                    h.HoleInOnes
                }))
            .GroupBy(arg => arg.Hole)
            .Select(x => new HoleStatisticModel()
            {
                HoleInOnes = x.Sum(y => y.HoleInOnes),
                Hole = x.Key,
                Average = x.Sum(y => y.Total) / x.Sum(y => y.TimesPlayed)
            })
            .ToArray();
    }

    private bool Display()
    {
        return CascadingCourseStatistics != null && _holeAverageModels != null && !CascadingCourseStatistics.Loading;
    }

    private class HoleStatisticModel
    {
        public int Hole { get; set; }
        public double Average { get; set; }
        public int HoleInOnes { get; set; }
    }

}