@if (Display())
{
    <Table>
        <TableHeader>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Spelare</TableHeaderCell>
            <TableHeaderCell>Snitt</TableHeaderCell>
        </TableHeader>
        @for (var i = 0; i < _topAverages.Length; i++)
        {
            var index = i;
            <TableRow>
                <TableRowCell>
                    @if (index == 0)
                    {
                        <i class="material-icons">insights</i>
                    }
                    else
                    {
                        @(index + 1)
                    }
                </TableRowCell>
                <TableRowCell>@_topAverages[index].Player</TableRowCell>
                <TableRowCell>@Math.Round(_topAverages[index].Average, 1)</TableRowCell>
            </TableRow>
        }
        <tr>

        </tr>
    </Table>
}

@code {

    [CascadingParameter] public CascadingCourseStatistics? CascadingCourseStatistics { get; set; }

    private TopAverageModel[] _topAverages = [];
    private int _listCount = 10;


    protected override void OnParametersSet()
    {
        if (CascadingCourseStatistics?.CourseStatisticResponse == null)
            return;

        _topAverages = CascadingCourseStatistics.CourseStatisticResponse
            .PlayerStatistics.OrderBy(x => x.AverageScore)
            .Take(_listCount)
            .Select(x => new TopAverageModel(x.Name, x.AverageScore))
            .ToArray();            
    }

    private class TopAverageModel(string player, double average)
    {
        public string Player { get; } = player;
        public double Average { get; } = average;
    }

    private bool Display()
    {
        return CascadingCourseStatistics != null && _topAverages.Any() && !CascadingCourseStatistics.Loading;
    }

}