@if (Display())
{
    <Table>
        <TableHeader>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Spelare</TableHeaderCell>
            <TableHeaderCell>Resultat</TableHeaderCell>
            <TableHeaderCell>Datum</TableHeaderCell>
        </TableHeader>
        @for (var i = 0; i < _topScore.Count(); i++)
        {
            var index = i;
            <TableRow>
                <TableRowCell>
                    @if (index == 0)
                    {
                        <i class="material-icons">emoji_events</i>
                    }
                    else
                    {
                        @(index + 1)
                    }
                </TableRowCell>
                <TableRowCell>@_topScore[index].Player</TableRowCell>
                <TableRowCell>@_topScore[index].ToatalScore</TableRowCell>
                <TableRowCell>@_topScore[index].Date.ToString("yyyy-MM-dd")</TableRowCell>
            </TableRow>
        }
    </Table>
}

@code {

    [CascadingParameter] public CascadingCourseStatistics CascadingCourseStatistics { get; set; }

    private TopScoreModel[] _topScore;
    private int _listCount = 10;

    protected override void OnParametersSet()
    {
        if (CascadingCourseStatistics?.CourseStatisticResponse == null)
            return;

        var scoreReset = CascadingCourseStatistics.CascadingCourse.Course.ScoreReset.GetValueOrDefault(DateTime.MinValue);

        _topScore = CascadingCourseStatistics.CourseStatisticResponse.Scorecards
            .Where(x => x.Date > scoreReset)
            .Select(x => new
            {
                Rounds = x.Scores.GroupBy(score => score.Player)
                    .Select(p => new TopScoreModel
                    {
                        Date = x.Date,
                        Player = p.Key,
                        ToatalScore = p.Sum(s => s.Score)
                    })
            }).SelectMany(x => x.Rounds)
            .OrderBy(x => x.ToatalScore)
            .ThenBy(x => x.Date)
            .Take(_listCount)
            .ToArray();
    }

    private class TopScoreModel
    {
        public string Player { get; set; }
        public DateTime Date { get; set; }
        public int ToatalScore { get; set; }
    }


    private bool Display()
    {
        return CascadingCourseStatistics != null && _topScore != null && !CascadingCourseStatistics.Loading;
    }

}